<%- include('./header') %>

<form action="/?_method=PUT" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title" value="<%= title %>">
  <label for="description">About:</label>
  <textarea id="description" name="description" rows="4" cols="50"><%= description %></textarea>

  <button type="submit">Update About Skills</button>
</form>

<%- include('./footer') %>