
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(37, 36, 36);
  color:rgb(242, 233, 255);
}

.remove-btn {
  background-color: rgb(245, 104, 104);
  border: none;
  border-radius: 50px;
  padding: 2px 6px;
  color: rgb(40, 38, 38);
  font-weight: 800;
  position: relative;
  box-shadow: rgba(224, 224, 255, 0.91) 0px 50px 100px -20px, rgba(239, 200, 200, 0.616) 0px 30px 60px -30px;
}
.remove-btn:hover {
  cursor: pointer;
  background-color: rgb(206, 8, 8);
}

a {
  color: #f9f8dd;
  text-decoration: none;
  padding: 2vmin;
  border: 1px solid #f6f4c2;
  border-radius: 5px;
}

a:hover {
  background-color: #deddf92b;
}

.skills-icon {
  background-color: #ffffdd53;
  width: 9vmin;
  border-radius: 50px;
  padding: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 25vmin);
}

li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content:space-between;
  margin: 4vmin;
  background-color: rgba(75, 75, 85, 0.661);
  height: 20vmin;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0);
}

li:hover img {
  background-color: #fffffe;
  transform: scale(1.2);
  transition: all ease-in-out 500ms;
  box-shadow: rgba(255, 255, 255, 0.812) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

li:hover {
  transition: all ease-in-out 500ms;
  border: 2px solid white;
}

/* ABOUT ME */

#about-me-area p,
.skill-descr,
.more-link {
  margin-bottom: 17vmin;
}

/* VIEW */

.edit-skill,
.edit-title,
#about-me-area {
  margin-top: 17vmin;
}

.skill-title,
.edit-title,
.skill-title-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  max-width: fit-content;
}

.skill-title-link:hover {
  background-color: rgba(255, 0, 0, 0);
  color: rgb(247, 255, 98);
}

.edit-skill-link, 
button {
  background-color: #f7ffdef4;
  display: inline-block;
  color: rgb(59, 55, 55);
  padding: 1vmin;
  border-radius: 2px;
  font-size: 2vmin;
  border: none;
}
.edit-skill-link:hover, 
button:hover {
  background-color: rgb(106, 106, 255);
  cursor: pointer;
  color: rgb(255, 236, 236);
}

/* EDIT FORM */
.title {
  margin-top: 10vmin;
}

.skill-edit-form,
.about-form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-size: 3vmin;
}

.skill-edit-form label,
.skill-edit-form button
.about-form label {
  font-size: 3vmin;
}

.skill-edit-form input,
.about-form input,
textarea {
  font-size: 3vmin;
  margin: 2vmin 0;
  border-radius: 8px;
  border: none;
  padding: 2vmin;
  font-size: 3vmin;
  letter-spacing: 2px;
  font-weight: 500;
}

textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; 
}

